<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false"
  >
    <mat-toolbar>Questify</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item href="#">
        <mat-icon>person</mat-icon>
        انجمن ها
      </a>
      <a mat-list-item href="#">
        <mat-icon>assignment</mat-icon>
        پست ها و سوالات
      </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar>
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <button mat-raised-button color="primary" class="toolbar-btn">ثبت نام مدرسه</button>
      <button mat-raised-button color="secondary" class="toolbar-btn">اشتراک</button>
    </mat-toolbar>
    <!-- Add Content Here -->
  </mat-sidenav-content>
</mat-sidenav-container>
