.rdw-dropdown-carettoopen {
    left: 10%;
    right: unset;
}

.rdw-dropdown-carettoclose {
    left: 10%;
    right: unset;
}

.rdw-editor, .content-displayer {
    font-family: "Vazirmatn";
    max-height: 300px;
    border-bottom: 1px solid rgb(190, 190, 190);
    font-size: 18px;
}

.rdw-editor blockquote, blockquote {
    border-right: 3px solid gray;
    border-left: 3px solid gray;
    padding: 10px 8px;
    background-color: rgb(245, 245, 245);
}

.rdw-editor blockquote div.public-DraftStyleDefault-block {
    margin: 0;
}

.rdw-toolbar {
    z-index: 9999999;
}

.rdw-link-modal-input {
    padding: 4px 5px;
    border: 1px solid rgb(190, 190, 190);
    border-radius: 10px;
    background-color: white !important;
    color: black;
}

.rdw-link-modal-btn,.rdw-embedded-modal-btn {
    background-color: white !important;
    color: black;
}

.rdw-embedded-modal, .rdw-link-modal {
    position: fixed;
    top: unset;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
}
